.content{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin : auto;
    padding-top: 80px;
}

.content_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 20px;
}

.content_header h2{
    font-size: 24px;
    line-height: 28px;
}
.date_box{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.movie_box{
    width: 213px;
    margin: 10px;
}

.ico {
    background : url("../images/ico_movie.png") no-repeat 0 0;
    background-size: 500px auto;
    text-indent: -9999px;
    border: none;
    width: 24px;
    height: 24px;
    margin-top:25px;
    cursor: pointer;
}

.ico_prev{
    background-position: -120px 0;
}

.ico_next {
    background-position: -160px 0;
}
.change_range{
    display: flex;
    width: 15%;
    justify-content: space-around;
}
.change_range button {
    background: none;
    border: none;
    height: 50%;
    margin: auto 0 ;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}

.change_range button:hover{
    text-decoration: underline;
}

