.box_office_wrap{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin : auto;
    padding-top: 80px;
}

.content_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 50px;
}

.content_header h2{
    font-size: 24px;
    line-height: 28px;
}
.date_box{
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-left: 85px;

}

.movie_box{
    width: 213px;
    margin: 10px;
}

.ico {
    background : url("../images/ico_movie.png") no-repeat 0 0;
    background-size: 500px auto;
    text-indent: -9999px;
    border: none;
    width: 24px;
    height: 24px;
    margin-top:25px;
    cursor: pointer;
}

.ico_prev{
    background-position: -120px 0;
}

.ico_next {
    background-position: -160px 0;
}
.change_range{
    display: flex;
    position: relative;
    width: 20%;
}
.change_range button {
    background: none;
    border: none;
    height: 50%;
    margin: auto 0 auto 5rem ;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
}
.change_range input{
    position: absolute;
    width: 15%;
    height: 50%;
    left: 10rem;
    top: 1.25rem;
    opacity: 0;
    cursor: pointer;
}

.change_range input::-webkit-calendar-picker-indicator{
    width: 100%;
    height: 40px;
}

.ico_date{
    position: absolute;
    opacity: 1;
    background: url("../images/calendar.png") no-repeat;
    width: 40px;
    height: 50%;
    left: 10rem;
    top: 1.25rem;
}

.change_range button:hover{
    text-decoration: underline;
}

